= @bank.name
%br
%br
= link_to('New Transaction', new_transaction_path, :remote => true, :class => 'button tiny radius')
#form


#Deposits
  %h3 Deposits
  =button_tag('Data', :class => 'button tiny radius')
  =button_tag('Graph', :class => 'button tiny radius')

%h3 Withdrawals
#Withdrawals
  =button_tag('Data', :class => 'button tiny radius')
  =button_tag('Graph', :class => 'button tiny radius')
  =image_tag('one.jpeg')
