<footer class="row">
  <div class="large-12 columns"><hr>
    <div class="row">
      <div class="large-6 columns">
        <p></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="http://twitter.com/alexfogg"></a></li>
          <li><a href="http://generalassemb.ly"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>